* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body {

    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");

}

.box-max{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-city{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    background-color: #7c7c7c2b;
    color: #FFFF;
    width: calc(100% - 60px);

}

.medium-box{
    margin-top: 30px;
}

.button-find{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;

}

.img-find{
    width: 20px;
}

.city{
    color: #FFFF;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: #FFFF;
    margin-top: 20px;
}

.box-min{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-forecast{
    color: #FFFF;
    margin-left: 20px;
    text-transform: capitalize;
}

.moisture{
    margin-top: 20px;
    color: #FFFF;
}

